#signin {

    color: aliceblue;

}

#signin:hover {

    color:#ffe8a1;

    text-decoration: none;

}

#login{

    background-color: transparent;

    color: aliceblue;

}

#login:hover{

    color: black;

    background-color: greenyellow;

}

#menu{

    border: none;

    border-radius: 15px;

}
.center{

    margin: 0 auto;

    display:contents;
				
	float:none;
				
	vertical-align: top;	
    
}

.center li a{

    color: white;
    
    font-size: large;
}
.center li a:hover{
     
     color: snow;
     
     font-size: large;
     
     text-decoration: none;
     
}


